.h-wall {
    min-width: 0;
    height: var(--wall-thickness);
    width: var(--h-wall-width);
    outline: var(--cell-border);
    background-size: 100% 100%;
    box-sizing: border-box;
    transform: skewX(-45deg);
    position: relative;
    z-index: 2;
    left: calc(var(--wall-thickness) / -2);
}

.h-has-image {
    outline: none;
}

.h-wall:hover {
    outline: var(--cell-border-hover);
}

.h-mirrored {
    transform: skewX(-45deg) scaleX(-1);
}