.map-editor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*box-sizing: border-box;*/
}

.h-wall-row {
    display: flex;
    height: var(--wall-thickness);
    margin-bottom: calc(0px - var(--wall-thickness));
}

.row {
    display: flex;
    flex: 1;
    min-height: 0;
}