.map-editor {
    display: flex;
}

.grid {

}

.h-wall-row {
    display: flex;
    height: var(--wall-thickness);
    margin-bottom: calc(0px - var(--wall-thickness));
}

.row {
    display: flex;
    flex: 1;
    min-height: 0;
}