.object-selector {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    width: 100%;
}

.object-selector-item {
    cursor: pointer;
    aspect-ratio: 1;
}

.object-image {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.object-selector .object-selector-item.selected {
    outline: 2px solid red;
}