.texture-selector {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
}

.texture-selector img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.texture-selector img.selected {
    outline: 2px solid red;
}