.v-wall {
    width: var(--wall-thickness);
    outline: var(--cell-border);
    box-sizing: border-box;
    transform: skewY(-45deg);
    margin-left: calc(0px - var(--wall-thickness));
    position: relative;
    z-index: 2;
    top: calc(var(--wall-thickness) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.v-has-image {
    outline: none;
}

.v-wall-img {
    height: var(--wall-thickness);
    width: var(--cell-size);
    transform: rotate(90deg);
    background-size: 100% 100%;
}

.v-wall:hover {
    outline: var(--cell-border-hover);
}

.v-mirrored {
    transform: skewY(-45deg) scaleY(-1);
}