
:root {
    --wall-thickness: 30px;
    --h-wall-gap: var(--wall-thickness);
    --cell-size: 80px;
    --h-wall-width: var(--cell-size);
    --cell-border: 1px solid #d0d0d0;
    --cell-border-hover: 2px solid #000080;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    image-rendering: optimizequality;
}

.editor {
    width: 80%;
    height: 100%;
    overflow: auto;
    padding: 50px;
    box-sizing: border-box;
}

.sidebar {
    width: 20%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.controls {
    margin-top: 20px;
}

.controls button {
    margin-right: 10px;
}